.App {
  text-align: center;
  font-size: 14px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

.case {
  height: 50px;
  width: 200px;
  border-bottom: 1px solid black;
}

.kenLainCol {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}
